@font-face {
    font-family:Ubuntu;
    font-display:swap;
    font-size:200px;
    font-weight:500;
    font-style:normal;
    src:url(ubuntu-medium.woff2) format('woff2');
}
html {
    font-family:Ubuntu;
    background-color:#1D2228;
    color:white;
}